{% extends "base.html" %}

{% block app_content %}
<h1>Category</h1>
<div >
<h3 style="display: inline-block;margin:0;"> Add or remove categories</h3>
  <div class="container">
    <div class="row">
      <div class="col-md-12 bg-light text-right">
      <button type="button" class="btn btn-add float-right" data-toggle="modal" data-target="#exampleModal">
      <span class="btn-icon-add"><i class="glyphicon glyphicon-plus"></i></span>Add Category</button>
      <a href="{{ url_for('main.download', type ='category') }}">
      <button type="button" class="btn btn-download float-right">
      <span class="btn-icon"><i class="glyphicon glyphicon-download"></i></span>Download</button></a>
      </div>
    </div>
  </div>
</div>

<!-- Modal code-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="margin-top:150px;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">Add Category</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <form  action="" method="post">
          {{ addform.csrf_token() }}
          {{ addform.name.label(class="form-control-label")}}<br>
          {{ addform.name(class="form-control form-control-lg")}}
      </div>
      <div class="modal-footer">
        <div >
          {{ addform.submit(class="btn btn-primary") }}
        </div>
      </div>
        </form>
    </div>
  </div>
</div>
<!--end of modal design-->

<table class="table table-hover">
<thead>
 <tr>
   <th>ID</th>
   <th>Name</th>
   <th></th>
 </tr>
</thead>
<tbody>
  {% for d in details %}
  <tr>
    <td>{{d.id}}</td>
    <td>{{d.name}}</td>
   <td>
       <button type="button" class="btn btn-edit" data-toggle="modal" data-target ="#edit{{d.id}}">
       <span class="btn-icon"><i class="glyphicon glyphicon-pencil"></i></span>Edit</button>
       
       <a href="{{ url_for('main.delete', id = d.id, type ='category' )}}">
       <button type="button" class="btn btn-delete">
       <span class="btn-icon"><i class="glyphicon glyphicon-trash"></i></span>Delete</button>

   </td>
   <!--editmodal-->
   <div class="modal fade" id="edit{{d.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="margin-top:150px;">
     <div class="modal-dialog" role="document">
       <div class="modal-content">
         <div class="modal-header">
           <h3 class="modal-title" id="exampleModalLabel">Edit Category</h3>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
           </button>
         </div>
         <div id="modal-cont" class="modal-body" >
           <form  action="" method="POST" id="">
           <input type="hidden" name="id" value="{{d.id}}"/>
           <input type="hidden" name="name" value="{{d.name}}"/>
             {{ editform.csrf_token() }}
             {{ editform.editname.label(class="form-control-label")}}<br>
             {{ editform.editname(class="form-control form-control-lg",placeholder=d.name) }}
         </div>
         <div class="modal-footer">
           <div >
             {{ editform.editsubmit(class="btn btn-primary") }}
           </div>
         </div>
           </form>
       </div>
     </div>
   </div>
   <!--editmodal end-->
 </tr>
{% endfor %}
</tbody>
</table>
</div>
{% endblock %}
