{% extends "base.html" %}

{% block app_content %}
<h1>Manage Role</h1>
<div >
  <h3 style="display: inline-block;margin:0;">Default Roles</h3>
</div>

<table class="table table-hover">
<thead>
 <tr>
   <th>ID</th>
   <th>Username</th>
   <th>Email</th>
   <th>Role</th>
   <th></th>
 </tr>
</thead>
<tbody>
  {% for d in details %}
  <tr>
    <td>{{d.id}}</td>
    <td>{{d.username}}</td>
    <td>{{d.email}}</td>
    <td>{{d.role_id}}</td>
   <td>
	   <a href="{{ url_for('main.edit_profile', id =d.id) }}">
   <button type="button" class="btn btn-add">
   <span class="btn-icon"><i class="glyphicon glyphicon-pencil"></i></span>Edit</button></a>
       
       <a href="{{ url_for('main.delete', id = d.id, type ='user' )}}">
       <button type="button" class="btn btn-delete">
       <span class="btn-icon"><i class="glyphicon glyphicon-trash"></i></span>Delete</button>
   </td>
 </tr>
{% endfor %}
</tbody>

</table>
</div>
{% endblock %}
